footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #c51230;
  height: 80px;

  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;

  padding-left: 5%;
  padding-right: 5%;
  gap: 20px;
}

footer > a {
  color: lightgray;
  text-decoration: none;
  transition: 0.3s;
}

footer > a:hover {
  color: white;
}
